# Backend (.NET)
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code / VS
.vscode/
.vs/

# Build output
**/bin/
**/obj/

# NuGet packages
*.nupkg
packages/

# Logs
*.log

# Environment files
*.env


# Frontend (React)
frontend/node_modules/
frontend/build/
frontend/.env
