# Backend (.NET)
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

ProjectManagement.API/appsettings.json

# VS Code / Visual Studio
.vscode/
.vs/

# NuGet packages
*.nupkg
packages/
package-lock.json

/node_modules
/dist
/build

.vite/
dist/


# Logs
*.log

# Environment files
*.env

ProjectManagement-FrontEnd/node_modules/
ProjectManagement-FrontEnd/.vite/
ProjectManagement-FrontEnd/dist/
ProjectManagement-FrontEnd/build/
